
.container {
    margin-left: 280px;
  
    padding: 20px;
}
form {
    margin-bottom: 30px;
    
}
label {
    display: block;
    margin-bottom: 8px;
}
input, button {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
}
button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    cursor: pointer;
}
.button-group button.active {
    background-color: #d35400; /* Darker orange */
}
button:hover {
    background-color: #2ecc71;
}
h3 {
    margin-top: 30px;
    padding-left: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}
table th {
    background-color: #34495e;
    color: white;
}
table tr:nth-child(even) {
    background-color: #f2f2f2;
}
#export-btn {
    margin-top: 20px;
    display: none;
}
